__init__.py
.__*
*.pyc
.*.swp
.#*
#*#
*~

data/*
Prototype/python/tools/fileloader.py_preTest
test/scratch.ipynb
test/tagVarAdd.ipynb
Kai/crab/crab_*
AutoDict_vector_*
.ipynb_checkpoints
.ipynb_checkpoints
test/*.root*
StandaloneExamples/*.root*
*.root*
